@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Adeola University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Adeola University</h2>
        <p>
            Welcome to Adeola University, where excellence meets opportunity. We are dedicated to providing our students with a supportive and enriching educational environment to help them achieve their academic and personal goals.
        </p>
    </div>
    <div class="col-md-4">
        <h2>A home to African Culture</h2>
        <p>
            At Adeola University, we take pride in our rich African heritage and culture. Our campus is a vibrant melting pot of traditions, languages, and customs from across the continent. Join us in celebrating the diversity and beauty of Africa.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cheap Tuition, Maximum Education</h2>
        <p>
            We believe that quality education should be accessible to all. That's why we offer affordable tuition fees without compromising on the quality of education. At Adeola University, you can expect maximum value for your investment in your future.
        </p>
    </div>
</div>
<img class="" src="https://images.pexels.com/photos/17082393/pexels-photo-17082393/free-photo-of-university-building-in-naples.jpeg?auto=compress&cs=tinysrgb&w=300" width="100%"/>